{% include "_partials/_header.html" %}

<section class="project-hero" data-scrolly="fromBottom">
    <div class="wrapper">

        <div class="project-details">

            <div class="card-details">
                <div class="details-content">
                    <h2>e.tim</h2>
                    <p>Projet scolaire</p>
                    <p>Intégration Web</p>
                </div>
                
                <div class="details-icons">

                    <div class="details-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-html5"></use>
                        </svg>
                    </div>



                    <div class="details-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-css"></use>
                        </svg>
                    </div>



                    <div class="details-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-javascript"></use>
                        </svg>
                    </div>

                </div>

            </div>

            <a class="button" href="./sites_portfolio/e.tim" target="_blank">Visiter le site</a>

        </div>

            


        <div class="demoreel"> <img src="assets/images/projet5.png"> </div>

    </div>
</section>

<section class="project-categories">

    <div class="wrapper">

    <div class="main-category" data-scrolly="fromBottom">
        <h2>Résumé et crédits</h2>
        <p>Ce projet avait pour but de tester nos notions de HTML, CSS et Javascript apprises au cours de la session en créant un site web pour une équipe e-sport fictive</p>

            <p>Pour ce projet, la maquette figma était fournie par le professeur et j'ai codé l'entièreté du Html, Css et Javascript pour le site web</p>
    </div>
    
    <div class="sub-category" data-scrolly="fromBottom">
        <h2>Sections du site</h2>
        <p>Le site se présente comme un appel aux élèves qui seraient intéressés à rejoindre l'équipe d'e-sport de la TIM en présentant les différents jeux disponibles, un article pour chacun de ces jeux et les avantages de rejoindre l'équipe</p>
    </div>

    <div class="cards-modale" data-component="Modal"  data-scrolly="fromBottom">

        <div class="card-modale card-modale-1">
            
            <div class="card-media">
                <div class="card-hover">
                    <span></span>
                    <span class="plus-vertical"></span>
                </div>
                <img src="./assets/images/projet5/games.png">
            </div>

            <div class="card-title">
                <h3>Grille des jeux</h3>
            </div>

            </div>
            
            <dialog class="modale-window modale-window-1">
                <div class="modale-media">
                    <img src="./assets/images/projet5/games.png">
                    <h2 class="x">X</h4>
                </div>

                <div class="modale-media-mobile">
                    <img src="./assets/images/projet5/games_mobile.png">
                    <h2 class="x">X</h4>
                </div>
            </dialog>

            <div class="card-modale card-modale-2">
            
                <div class="card-media">
                    <div class="card-hover">
                        <span></span>
                        <span class="plus-vertical"></span>
                    </div>
                    <img src="./assets/images/projet5/perks.png">
                </div>
    
                <div class="card-title">
                    <h3>Avantages des membres</h3>
                </div>
    
                </div>
                
                <dialog class="modale-window modale-window-2">
                    <div class="modale-media">
                        <img src="./assets/images/projet5/perks.png">
                        <h2 class="x">X</h4>
                    </div>

                    <div class="modale-media-mobile">
                        <img src="./assets/images/projet5/perks_mobile.png">
                        <h2 class="x">X</h4>
                    </div>
                </dialog>

                <div class="card-modale card-modale-3">
            
                    <div class="card-media">
                        <div class="card-hover">
                            <span></span>
                            <span class="plus-vertical"></span>
                        </div>
                        <img src="./assets/images/projet5/single_game.png">
                    </div>
        
                    <div class="card-title">
                        <h3>Description d'un jeu</h3>
                    </div>
        
                    </div>
                    
                    <dialog class="modale-window modale-window-3">
                        <div class="modale-media">
                            <img src="./assets/images/projet5/single_game.png">
                            <h2 class="x">X</h4>
                        </div>

                        <div class="modale-media-mobile">
                            <img src="./assets/images/projet5/single_game_mobile.png">
                            <h2 class="x">X</h4>
                        </div>
                    </dialog>

    </div>

    

    <div class="sub-category" data-scrolly="fromBottom">
        <h2>Les jolies petites étoiles</h2>
        <p>Pour la page de description du jeu, il fallait ajouter un composant javascript qui permettait de cliquer sur des étoiles afin de donner une note au jeu</p>
    </div>

    <div class="accordions" data-component="Accordion" data-scrolly="fromBottom">

        <div class="accordion js-accordion">
            <div class="accordion-title">
                <h2>Voir l'interactivité des étoiles</h2>

                <svg class="icon">
                    <use xlink:href="#icon-chevron-down"></use>
                </svg>
            </div>

            <div class="accordion-media">
                <img src="./assets/images/projet5/interaction.gif">
            </div>

            <div class="accordion-media-mobile">
                <img src="./assets/images/projet5/single_game_mobile.png">
            </div>
        </div>

        <div class="accordion js-accordion">
            <div class="accordion-title">
                <h2>Voir le CSS des étoiles</h2>

                <svg class="icon">
                    <use xlink:href="#icon-chevron-down"></use>
                </svg>
            </div>

            <div class="accordion-media">
                <img src="./assets/images/projet5/star_css.png">
            </div>

            <div class="accordion-media-mobile">
                <img src="./assets/images/projet5/star_css_mobile.png">
            </div>
        </div>

        <div class="accordion js-accordion">
            <div class="accordion-title">
                <h2>Voir le Javascript des étoiles</h2>

                <svg class="icon">
                    <use xlink:href="#icon-chevron-down"></use>
                </svg>
            </div>

            <div class="accordion-media">
                <img src="./assets/images/projet5/star_js.png">
            </div>

            <div class="accordion-media-mobile">
                <img src="./assets/images/projet5/star_js_mobile.png">
            </div>
        </div>

    </div>

    
            
        

    </div>
</section>



{% include "_partials/_footer.html" %}