{% include "_partials/_header.html" %}

<section class="projects">
    <div class="wrapper">
        <h1>Projets</h1>

        <div class="cards-projects">
            <div class="card-project card-right" data-scrolly="fromLeft">
                <div class="card-media">
                    <img src="./assets/images/projet1.png" />
                </div>

                <div class="card-hover">
                    <h2>Baie Ste-Catherine</h2>
                    <h4>Refonte de site web</h4>
                    <p>Html, Css, Javascript</p>

                    <a class="button hover-button" href="fiche-projet.html">Voir le projet</a>
                </div>
            </div>

            <div class="card-project card-left" data-scrolly="fromRight">
                <div class="card-media">
                    <img src="./assets/images/projet2.png" />
                </div>

                <div class="card-hover">
                    <h2>Timconf</h2>
                    <h4>Site de conférence fictive</h4>
                    <p>Html, Css, Javascript</p>

                    <a class="button hover-button" href="fiche-projet-2.html">Voir le projet</a>
                </div>
            </div>

            <div class="card-project card-right" data-scrolly="fromLeft">
                <div class="card-media">
                    <img src="./assets/images/projet3.png" />
                </div>

                <div class="card-hover">
                    
                        <h2>Morphix</h2>
                        <h4>Site web de transports fictif</h4>
                        <p>Html, Css, Javascript, Wordpress</p>
                    <a class="button hover-button" href="fiche-projet-3.html">Voir le projet</a>
                </div>
            </div>

            <div class="card-project card-left" data-scrolly="fromRight">
                <div class="card-media">
                    <img src="./assets/images/projet4.png" />
                </div>

                <div class="card-hover">
                    <h2>A.T.H.Y.M</h2>
                    <h4>Site web de cuisine fictif</h4>
                    <p>Html, Css, Php</p>

                    <a class="button hover-button" href="fiche-projet-4.html">Voir le projet</a>
                </div>
            </div>

            <div class="card-project card-right" data-scrolly="fromLeft">
                <div class="card-media">
                    <img src="./assets/images/projet5.png" />
                </div>

                <div class="card-hover">
                    <h2>e.tim</h2>
                    <h4>Site pour équipe e.sport fictive</h4>
                    <p>Html, Css, Javascript</p>

                    <a class="button hover-button" href="fiche-projet-5.html">Voir le projet</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
