<footer class="footer">
    <div class="wrapper">

        <p class="copyrights">Antoine Samson © Tous droits réservés</p>

        <div class="sociaux">
            <a class="social" href="https://ca.linkedin.com/in/antoine-samson-11501032b?trk" target="_blank"><svg class="icon icon--md">
                <use xlink:href="#icon-linkedin"></use>
            </svg></a>
            <a class="social" href="https://github.com/antoinesamson" target="_blank"><svg class="icon icon--md">
                <use xlink:href="#icon-github"></use>
            </svg></a>
        </div>


    </div>
</footer>
    

</body>
</html>
