.form {
    width: 100%;
    z-index: 5;
}

.form__body {
    .is-sent & {
        display: none;
    }

    @media screen and (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    fieldset.grid {
        height: 100%;
        width: 100%;
    }
}

.form__confirmation {
    display: none;

    .is-sent & {
        display: block;
    }
}

.form__footer {
    width: 100%;
    @media screen and (max-width: $breakpoint-sm) {
        display: flex;

        justify-content: center;
        align-items: center;
    }
}
.form__footer .button {
    border: none;
    font-size: var(--font-size-CTA);
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

.input__element {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
}

.textarea .input__element {
    height: 200px;
}

fieldset {
    border: none;
    padding: 0;
}

.error {
    .input__label {
        color: var(--color-fail);
    }

    .input__element {
        border: solid 3px var(--color-fail);
    }
    .error_info {
        display: block;
    }
}

.error_info {
    display: none;
    color: var(--color-fail);
    font-weight: 800;
}
