header {
    background-color: var(--color-bg-website);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    .wrapper,
    .menu
    {
        height: 100%;
        width: 100%;
    }

    .menu{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav{
        margin-top: -20px;
    }
    
}

.nav-is-active .header,
.nav-is-active .header .wrapper,
.nav-is-active .menu {
    @media screen and (max-width: $breakpoint-sm) {
        height: 100%;
        width: 100%;

        nav {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            height: 100%;
            padding: 100px 0;
        }

        a {
            font-size: 25px;
            height: 48px;
        }

        .logo {
            position: absolute;
            top: 30px;
            left: 30px;
        }

        .toggle {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
}


.header-is-hidden {
    header {
        transform: translateY(-100px);
    }

    
    
}
.nav-is-active.header-is-hidden{
    @media screen and (max-width: $breakpoint-sm) {
        header {
            transform: translateY(0);
        }
        
        }
    }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    height: 100px;
    width: 100%;
    padding: 0 30px;
    border-bottom: 5px solid var(--color-primary);
    transition: all 0.3s ease-in-out;

    h5 {
        margin: 0;
        height: 45px;
        transform: translateY(0);
        transition: all 0.15s ease-out;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .logo {
        height: 45px;
        overflow: hidden;
    }

    .hover {
        color: var(--color-link);
    }

    .logo:hover {
        h5,
        h5.hover {
            vertical-align: middle;
            transform: translateY(-45px);
        }
    }

    li,
    li a {
        max-height: 35px;
        overflow: hidden;

        div,
        div.hover {
            transition: all, 0.15s ease-out;
        }

        &:hover {
            color: var(--color-primary);
        }
    }

    li a:hover {
        div,
        div.hover {
            transform: translateY(-38px);
        }
    }

    li a div {
        transform: translateY(0);
    }

    li a div.hover {
        transform: translateY(38px);
    }

    @media screen and (max-width: $breakpoint-sm) {
        ul {
            display: none;
        }

        .logo,
        h5 {
            height: 35px;
        }

        h5.hover {
            margin-top: 10px;
        }
    }
}

.toggle {
    --bar-height: 6px;
    --bar-spacer: 6px;
    --bar-width: 35px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);

    z-index: 15;

    span {
        background-color: var(--color-primary);
        height: var(--bar-height);
        width: var(--bar-width);
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);
        transition: all 0.3s ease-out;

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-spacer)
            );
        }

        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-spacer)
            );
        }
    }

    .nav-is-active & {
        span {
            top: calc(50% - var(--bar-height) / 2);
            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: translateX(200px);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        display: none;
    }
}

#hero,
#about,
#contact {
    scroll-behavior: smooth !important;
}
