.project-hero .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-top: 100px;
    padding: 50px 0;

    @media screen and (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;

        .demoreel{
            border-radius: 25px 25px 0 0;
        }

        .card-details{
            width: 100%;
            border-radius: 0 0 25px 25px;
        }

        h2{
            margin-bottom: 10px;
        }

        p{
            margin-bottom: 10px;
        }
    }
}
 
.project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    grid-column-start: 1;
    grid-column-end: 5;

    .button {
        margin-top: auto;
    }
}

.card-details {
    padding: 30px;
    background-color: var(--color-bg-primary);
    border-radius: 35px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .details-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .details-icon {
        height: 50px;
        width: 50px;

        .icon {
            height: 100%;
            width: 100%;
        }
    }

    h2,
    p {
        margin: 0 0 20px 0;
    }
}

.demoreel {
    grid-column-start: 5;
    grid-column-end: 13;
    border-radius: 25px;
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.project-categories {
    padding: 100px 0 ;
}

.main-category {
    background-color: var(--color-bg-primary);
    padding: 40px 80px;
    margin-bottom: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button{
        max-width: 85%;

        @media screen and (max-width: $breakpoint-md){
            max-width: 100%;
        }

        &:hover{
            background-image: linear-gradient(
                var(--color-gradient2),
                var(--color-gradient2)
            );
        }

    }

    .link{
        text-decoration: underline;
        font-size: var(--font-size-content);
    }

    @media screen and (max-width: $breakpoint-md){
        padding: 40px 20px;
    }


}

.sub-category {
    h2 {
        background-color: var(--color-bg-secondary);
        padding: 20px 0px;
        border-radius: 25px;
    }
}
