/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: bold;
    color: var(--color-primary);
    z-index: 1;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
    font-size: var(--font-secondary);
}

h5 {
    font-size: var(--font-size-logo);
    font-family: var(--font-logo);
}
