/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #cfeeff;
    --color-link: #ff7d7d;
    --color-bg-primary: #75002f;
    --color-bg-secondary: #bd024d;
    --color-bg-website: #00113d;
    --color-gradient1: #dd2654;
    --color-gradient2: #a10008;
    --color-hover-modale: rgba(117, 0, 47, 0.75);

    --color-fail: #ff7c7c;
}
